---
import { CldImage } from "astro-cloudinary";
import { getImages } from "../../clients/cached-requests";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;

const { id } = Astro.params;

const assets = await getImages();
const item = assets.resources.find((el) => el.public_id === id);
---

<Layout title="Chez Superdad">
  <main>
    {
      id && item ? (
        <CldImage
          src={id}
          width={+item.width}
          height={+item.height}
          alt={item.display_name}
          sizes="100vw"
          transition:name={id}
        />
      ) : (
        <div>Some param broken</div>
      )
    }
  </main>
</Layout>
