---
import { v2 as cloudinary } from "cloudinary";
import { CldImage, CldUploadWidget } from "astro-cloudinary";
import ImageFrame from "../components/ImageFrame.astro";
import ImageGrid from "../components/ImageGrid.astro";
import ImageLink from "../components/ImageLink.astro";
import Layout from "../layouts/Layout.astro";

type CloudinaryResponse = {
  total_count: number;
  time: number;
  rate_limit_allowed: number;
  rate_limit_reset_at: string; // iso string
  rate_limit_remaining: number;
  resources: Array<{
    asset_id: string;
    public_id: string;
    asset_folder: string;
    filename: string;
    display_name: string;
    format: string;
    version: number;
    resource_type: string;
    type: string;
    created_at: string; // iso string
    uploaded_at: string; // iso string
    bytes: number;
    backup_bytes: number;
    width: number;
    height: number;
    aspect_ratio: number;
    pixels: number;
    context: object; // ?
    url: string;
    secure_url: string;
    status: string;
    access_mode: string;
    access_control: null; // ?
    etag: string;
    created_by: null; // ?
    uploaded_by: null; // ?
  }>;
};

export const prerender = false;

cloudinary.config({
  cloud_name: import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME,
  api_key: import.meta.env.PUBLIC_CLOUDINARY_API_KEY,
  api_secret: import.meta.env.CLOUDINARY_API_SECRET,
});

const assets: CloudinaryResponse = await cloudinary.search
  .expression("resource_type:image")
  .with_field("context")
  .max_results(100)
  .execute();
---

<Layout title="Chez Superdad">
  <main>
    <h1>Chez <span class="text-gradient">Superdad</span></h1>

    <CldUploadWidget
      uploadPreset="vincelebration-user-upload"
      id="upload-events"
    >
      <button>Upload</button>
    </CldUploadWidget>

    <script>
      const widget = document.querySelector("#upload-events");

      if (widget) {
        widget.addEventListener("clduploadwidget:success", ((
          e: CustomEvent<{ detail: object }>
        ) => {
          console.log("clduploadwidget:success", e.detail);
        }) as EventListener);
      }
    </script>

    <ImageGrid>
      {
        assets.resources.map(({ width, height, public_id, display_name }) => (
          <ImageFrame wide={width / height > 1.6}>
            <ImageLink href="#">
              <CldImage
                src={public_id}
                width={width}
                height={height}
                alt={display_name}
                sizes="100vw"
              />
            </ImageLink>
          </ImageFrame>
        ))
      }
    </ImageGrid>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 80ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
