---
import Container from "@/components/Container.astro";
import Hero from "@/components/Hero.astro";
import { AudioView } from "@/components/ui/audio-view";
import Layout from "@/layouts/Layout.astro";

const tracks = [
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/01-dans-mes-bras.MP3",
    title: "Dans Mes Bras",
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/02-cest-mon-coeur.MP3",
    title: "C'est Mon Cœur",
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/03-denoncez-vous.MP3",
    title: "Dénoncez vous",
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/04-courir.MP3",
    title: "Courir",
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/05-voyeur-voleur.MP3",
    title: "Voyeur Voleur",
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/06-vous-changer-de-vie.MP3",
    title: "Vous Changer De Vie",
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/07-cest-pas-moi.MP3",
    title: "C'est Pas Moi",
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/08-maladroit.MP3",
    title: "Maladroit",
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée — Pain Beurre & Confiture",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/01-les-baladins.mp3",
    title: "Les baladins",
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée — Pain Beurre & Confiture",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/02-cauchemar.mp3",
    title: "Cauchemar",
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée — Pain Beurre & Confiture",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/03-ecoutez-la-musique.mp3",
    title: "Écoutez la musique",
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée — Pain Beurre & Confiture",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/04-le-soleil-a-pleines-dents.mp3",
    title: "Le soleil à pleines dents",
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée — Pain Beurre & Confiture",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/05-petit-velo.mp3",
    title: "Petit vélo",
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée — Pain Beurre & Confiture",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/06-le-mercredi-et-le-dimache.mp3",
    title: "Le mercredi et le dimanche",
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée — Pain Beurre & Confiture",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/07-les-enfants-sages",
    title: "Les enfants sages",
  },
] as const;
---

<Layout title="Vincelebration">
  <main class="pb-48">
    <Hero />
    <Container>
      <AudioView tracks={tracks} client:load />
    </Container>
  </main>
</Layout>

<style is:global>
  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      theme("colors.green.500") var(--progress, 50%),
      theme("colors.white") var(--progress, 50%)
    );

    height: 0.25rem;
  }

  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: linear-gradient(
      to right,
      theme("colors.green.500") var(--progress),
      theme("colors.white") var(--progress)
    );

    height: 0.25rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px;
    background-color: theme("colors.green.500");
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px;
    background-color: theme("colors.green.500");
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0;
  }
</style>
