---
import Container from "@/components/Container.astro";
import Hero from "@/components/Hero.astro";
import { AudioView } from "@/components/ui/audio-view";
import Layout from "@/layouts/Layout.astro";

const tracks = [
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/01-dans-mes-bras.MP3",
    title: "Dans Mes Bras",
    duration: 4 * 60 + 12,
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/02-cest-mon-coeur.MP3",
    title: "C'est Mon Cœur",
    duration: 3 * 60 + 58,
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/03-denoncez-vous.MP3",
    title: "Dénoncez Vous",
    duration: 4 * 60 + 6,
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/04-courir.MP3",
    title: "Courir",
    duration: 2 * 60 + 45,
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/05-voyeur-voleur.MP3",
    title: "Voyeur Voleur",
    duration: 3 * 60 + 23,
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/06-vous-changer-de-vie.MP3",
    title: "Vous Changer De Vie",
    duration: 4 * 60 + 16,
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/07-cest-pas-moi.MP3",
    title: "C'est Pas Moi",
    duration: 5 * 60 + 3,
  },
  {
    id: crypto.randomUUID(),
    album: "L'air du verseau",
    artist: "Vincent Rodier",
    release: "1985",
    cover: "lairduverseau.png",
    track: "/musique/lairduverseau/08-maladroit.MP3",
    title: "Maladroit",
    duration: 4 * 60 + 0,
  },
  {
    id: crypto.randomUUID(),
    album: "Petit Vélo",
    artist: "Petit Vélo",
    release: "1976",
    cover: "petit-velo.jpg",
    track: "/musique/petit-velo/01-petit-velo.mp3",
    title: "Petit vélo",
    duration: 2 * 60 + 53,
  },
  {
    id: crypto.randomUUID(),
    album: "Petit Vélo",
    artist: "Petit Vélo",
    release: "1976",
    cover: "petit-velo.jpg",
    track: "/musique/petit-velo/02-le-mercredi-et-le-dimache.mp3",
    title: "Le mercredi et le dimanche",
    duration: 2 * 60 + 49,
  },
  {
    id: crypto.randomUUID(),
    album: "Écoutez la musique _ Le soleil à pleines dents",
    artist: "Les Essones Five",
    release: "1976",
    cover: "essones-five2_compressed.png",
    track: "/musique/les-essones-five/03-ecoutez-la-musique.mp3",
    title: "Écoutez la musique",
    duration: 2 * 60 + 30,
  },
  {
    id: crypto.randomUUID(),
    album: "Écoutez la musique _ Le soleil à pleines dents",
    artist: "Les Essones Five",
    release: "1976",
    cover: "essones-five2_compressed.png",
    track: "/musique/les-essones-five/04-le-soleil-a-pleines-dents.mp3",
    title: "Le soleil à pleines dents",
    duration: 3 * 60 + 26,
  },
  {
    id: crypto.randomUUID(),
    album: "Cauchemard - Les baladins",
    artist: "Les Essones Five",
    release: "1975",
    cover: "essones-five.jpg",
    track: "/musique/les-essones-five/01-les-baladins.mp3",
    title: "Les baladins",
    duration: 3 * 60 + 24,
  },
  {
    id: crypto.randomUUID(),
    album: "Cauchemard - Les baladins",
    artist: "Les Essones Five",
    release: "1975",
    cover: "essones-five.jpg",
    track: "/musique/les-essones-five/02-cauchemard.mp3",
    title: "Cauchemard",
    duration: 2 * 60 + 36,
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée, Les enfants sages",
    artist: "Pain Beurre & Confiture",
    release: "1974",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/01-cest-la-rentree.mp3",
    title: "C'est la rentrée",
    duration: 2 * 60 + 38,
  },
  {
    id: crypto.randomUUID(),
    album: "C'est la rentrée, Les enfants sages",
    artist: "Pain Beurre & Confiture",
    release: "1974",
    cover: "painbeurreetconfiture.jpg",
    track: "/musique/pbec/02-les-enfants-sages.mp3",
    title: "Les enfants sages",
    duration: 3 * 60 + 32,
  },
] as const;
---

<Layout title="Vincelebration">
  <main class="pb-56">
    <Hero />
    <Container>
      <AudioView tracks={tracks} client:load />
    </Container>
  </main>
</Layout>

<style is:global>
  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      theme("colors.teal.500") var(--progress, 50%),
      theme("colors.white") var(--progress, 50%)
    );

    height: 0.25rem;
  }

  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: linear-gradient(
      to right,
      theme("colors.teal.500") var(--progress),
      theme("colors.white") var(--progress)
    );

    height: 0.25rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px;
    background-color: theme("colors.teal.500");
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px;
    background-color: theme("colors.teal.500");
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0;
  }
</style>
