---
interface Props {
  width?: "narrow" | "wide";
}

const { width } = Astro.props;
---

<div
  class:list={[
    "container",
    width === "narrow" && "max-w-2xl",
    width === "wide" && "TODO",
  ]}
>
  <slot />
</div>
