---
import { CldUploadWidget } from "astro-cloudinary";
import { Button } from "./ui/button";
---

<div class="fixed right-4 bottom-4">
  <CldUploadWidget uploadPreset="vincelebration-user-upload" id="upload-events">
    <Button>Upload</Button>
  </CldUploadWidget>
</div>
