---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="link">
  <slot />
</a>

<style>
  .link {
    position: relative;

    & > :global(img) {
      transition: scale 0.15s ease-in-out;
      pointer-events: none;
    }

    &:hover > :global(img) {
      scale: 1.15;
    }
  }
</style>
