---
import Container from "./Container.astro";
---

<div class="mb-8">
  <Container width="narrow">
    <p class="text-center">
      Voici ton lieu commémoratif, Papa. Ici, nous rassemblons nos meilleurs
      moments avec toi, ainsi que les moments du tout premier festival consacré
      à ton nom, le Vincetival. Tu l'as raté de très peu.
    </p>
    <br />
    <p class="text-center">
      Vous avez la possibilité d'ajouter vos photos et vos vidéos sur ce site
      ainsi que de laisser un commentaire sous chaque post. Vous pouvez aussi
      accéder au petit livre d'or en haut à droite pour laisser un message.
      Merci d'être respectueux avec les contenus que vous partagez.
    </p>
  </Container>
</div>
