---
import Container from "./Container.astro";
---

<div class="mb-8">
  <Container width="narrow">
    <p class="text-center">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi odit,
      provident laborum quis nam ab sequi iusto laudantium enim at, distinctio
      tempora repellat minus! Doloribus molestiae fugiat natus fugit ea.
    </p>
  </Container>
</div>
