---
import { Image } from "astro:assets";
import { Settings } from "./ui/settings";
---

<nav class="h-20 lg:h-28 flex items-center px-4 lg:px-8 justify-between">
  <a class="block size-16 lg:size-20 [&>img]:block" href="/">
    <Image src="/favicon-96x96.png" alt="Astro Logo" width={96} height={96} />
  </a>
  <ul class="flex gap-6 font-medium">
    <li>
      <a href="/livredor">📖 Livre d'or</a>
    </li>
    <li>
      <Settings client:load />
    </li>
  </ul>
</nav>
